/*
 * This is Airbnb's style guide for JavaScript!
 * Documentation: github.com/airbnb/javascript
 *
 * Dependencies on npm:
 * eslint, eslint-config-airbnb, babel-eslint, eslint-plugin-react
 */

{
  "extends": "airbnb"
}
