"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "nucleus-dark-ui"
      "gruvbox"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      ".svn"
      "node_modules"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    fontFamily: "fira code"
    lineHeight: 1.45
    autoIndent: false
    fontSize: 12
  linter:
    showErrorPanel: false
  minimap:
    plugins:
      "minimap-autohide": true
      bookmarks: true
  "tree-view":
    hideIgnoredNames: true
  tabs:
    usePreviewTabs: true

